.inputContainer{
				width:50%;margin:auto;border:1px solid black;padding:30px;text-align:center;
			}
			table {
    border-collapse: collapse;
    width: 50%;
	margin:auto;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#delete{
    padding: 3px;
    background: red;
    border: none;
    border-radius: 3px;

}